<section id="cart">
	<div class="cart-container">
		<div class="cart-item1">
			<h2>Giỏ hàng</h2>
			<table id="tableList">
				<tbody id="cartList">
					{{#each cartList}}
						<tr>
							<td><img src="../img/{{this.image}}" alt="" /></td>
							<td>{{this.name}}</td>
							<td>
								<div class="quantity-cart">
									<button class="reduce">-</button>
									<span class="quantity-product">{{this.quantity}}</span>
									<button class="increase">+</button>
								</div>
							</td>
							<td>Giá : {{this.price}} $</td>
							<td>Tổng : {{this.total}} $</td>
							<form action="cart/deleteCart/{{this._id}}" method="POST">
								<td><button class="bx bxs-x-circle" id="delete_cart"></button></td>
							</form>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>

		<div class="cart-item2">
			<div class="checkout-container">
				<h2>Thanh toán</h2>
				<form action="/cart" method="POST">
					<div id="voucher">
						<input
							type="text"
							class="discount"
							id="discount"
							placeholder="Enter Code Coupon"
							name="voucher_code"
						/>
						<button id="applyCode">Áp mã</button>
					</div>
				</form>
				<form action="cart/form_user" method="POST">
					<div class="subTotal">
						<span>Tổng tiền sản phẩm </span>
						<span id="totalAmount">{{subTotal}} $</span>
					</div>
					<div class="shipping">
						<span>Phí shipping</span>
						<span>{{shipping}} $</span>
					</div>
					<hr />
					<div class="totalPrice">
						<span>Tổng tiền thanh toán : </span>
						<span id="totalPrice">{{total}} $</span>
					</div>
					{{#if voucher}}
						<div class="appliedCode">
							<span>Giá sau khi áp mã : </span>
							<span>{{voucher}} $</span>
						</div>
					{{/if}}
					<button id="checkOut" type="submit">Tiến hành thanh toán</button>
				</form>
			</div>
		</div>
	</div>
</section>